*{
    font-family: 'Kufam';
}
body{
    margin: 0;
    padding: 0;
    background-color: beige;
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
}
header{
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px black;
    z-index: 10000;
    height: 50px;

}
.title-and-install{
    display: flex;
    align-items: center;
    padding-right: 10px;

}
#install{
    background-color: rgb(84, 198, 84);
    border: none;
    border-radius: 50%;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 10000000000;
}
h5{
    margin-left: 20px;
}
h2{
    cursor: pointer;
}

main{
    position: relative;
    top: 50px;
    width: 70%;
    background-color: white;
    box-shadow: 0 0 5px black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.content{
    width: 90%;
    padding: 10px;
    box-shadow: 0 0 5px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}
h3{
    flex: 2;
    font-size: 1.5rem;
}
.icons{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon{
    border: none;
    cursor: pointer;
    margin-left: 30px;
    background-color: transparent;
}

.audio{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 5px black;


}
.quran{
    font-size: 2rem;
    color: rgb(79, 79, 237);
}
.tafssir{
    font-size: 2rem;
    color: rgb(215, 215, 83);
}
.active-quran, .active-tafssir {
    text-align: center;
    background-color: rgb(83, 200, 114);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50px;
}

@media(max-width: 600px){
    main{
        width: 90%;
    }
}

.mic-toggle{
     position: absolute;
   /* display: block; */
   top: 1px;
   left: 10px;
   border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: crimson;
    margin-bottom:  4rem;
}


.mic-toggle:after,
.mic-toggle:before{
    --pad: 0rem;
    content: '';
    position: absolute;
    z-index: 0;
    background-color: rgba(220, 20, 60, 0.2);
    top: var(--pad);
    left: var(--pad);
    bottom: var(--pad);
    right: var(--pad);
    border-radius: 50%;
}

.mic-toggle:after{
    transition: 0.4s;
}

.mic-toggle:before{
    transition: 0.2s;
}
.mic-toggle:hover:before{
    --pad: -1rem;
}
.mic-toggle:hover:after{
    --pad: -2rem;
}
.mic-toggle span{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 2rem;
}
.mic-toggle img{
    width: 60px;
    height: 60px;
}
.mic-toggle.is-recording:after{
    animation: smoothPadAfter 0.6s ease-in alternate-reverse forwards infinite;
}
.mic-toggle.is-recording:before{
    animation: smoothPadBefore 0.6s ease-in alternate-reverse forwards infinite;
}
@keyframes smoothPadAfter{
    0%{
        top: -2rem;
        left: -2rem;
        bottom: -2rem;
        right: -2rem;
    }
    100%{
        top: -1rem;
        left: -1rem;
        bottom: -1rem;
        right: -1rem;
    }
}
@keyframes smoothPadBefore{
    0%{
        top: -1rem;
        left: -1rem;
        bottom: -1rem;
        right: -1rem;
    }
    100%{
        top: -2rem;
        left: -2rem;
        bottom: -2rem;
        right: -2rem;
    }
}


.loader {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
